.results {
    background: $light-gray;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem 10% 0;   
}

.result {
    align-items: center;
    background: #fff;
    border-radius: .5rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    &__content {
        align-items: center;
        display: flex;
        gap: 1rem;
    }

    &__shorten {
        border: none;
        color: $cyan;
        font-size: 1rem;
        outline: none;

        &::selection {
            background: none;
            color: $cyan;
        }
    }

    &__btn {
        border-radius: .25rem !important;
        display: block;
        font-size: .9rem;
        width: 6rem;
        padding: .25rem 1rem !important;

        &--copied {
            background-color: $violet !important;
        }
    }
}

@media (max-width: $breakpoint) {
    .result {
        display: block;
        padding: 0;

        &__header {
            border-bottom: 1px solid $gray;
            padding: 1rem;
        }
    
        &__content {
            align-items: flex-start;
            flex-direction: column;
            padding: 1rem;
        }

        &__btn {
            padding: .5rem !important;
            width: 100% !important;
        }
    }    
}