.statistics {
    background-color: $light-gray;
    padding: 5rem 10%;
    text-align: center;

    &__title {
        color: $dark-violet;
        margin-bottom: 1rem;
    }

    &__text {
        color: $grayish-violet;
        font-size: .9rem;
    }

    &__container {
        align-items: flex-start;
        display: flex;
        gap: 2rem;
        margin-top: 5rem;
        position: relative;

        &::before {
            width: 100%;
            position: absolute;
            display: block;
            content: '';
            height: .5rem;
            background: $cyan;
            top: calc(50% - .25rem);
        }
    }
}

@media (max-width: $breakpoint) {
    .statistics {
        &__container {
            flex-direction: column;

            &::before {
                display: none;
            }
        }
    }
}